<nav class="navbar fixed-top navbar-dark bg-dark" *ngIf="afAuth.user | async as user; else showLogin">
  <a class="navbar-brand" href="#">
    <img src="assets/imgs/mortarboard.svg" width="30" height="30" class="d-inline-block align-top" alt="" />
    Módulo Inscripción de Asignaturas
  </a>

  <div class="dropdown navbar-user">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-user-circle"></i>
      Hola, {{ user.displayName }}!
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button" (click)="logout()">Cerrar sesión</button>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div *ngIf="afAuth.user | async as user; else showLogin">

    <section class="subject-to-select">
      <h4>Asignaturas disponibles</h4>

      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">AULA</th>
            <th scope="col">GRUPO</th>
            <th scope="col">CREDITOS</th>
            <th scope="col">LUN</th>
            <th scope="col">MAR</th>
            <th scope="col">MIE</th>
            <th scope="col">JUE</th>
            <th scope="col">VIE</th>
            <th scope="col">SAB</th>
            <th scope="col">DOM</th>
            <th scope="col">Cupo</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asignature of asignatures | async">
            <td>{{asignature.name}}</td>
            <td>{{asignature.course}}</td>
            <td>{{asignature.group}}</td>
            <td>{{asignature.credits}}</td>
            <td>{{renderHour(asignature,'LUN')}}</td>
            <td>{{renderHour(asignature,'MAR')}}</td>
            <td>{{renderHour(asignature,'MIE')}}</td>
            <td>{{renderHour(asignature,'JUE')}}</td>
            <td>{{renderHour(asignature,'VIE')}}</td>
            <td>{{renderHour(asignature,'SAB')}}</td>
            <td>{{renderHour(asignature,'DOM')}}</td>
            <td>
              <span [ngClass]="{
                'badge-success': asignature.CurrentQuota < asignature.MaxQuota,
                'badge-danger':asignature.CurrentQuota === asignature.MaxQuota
              }" class="badge badge-pill">{{asignature.CurrentQuota}} / {{asignature.MaxQuota}}</span>
            </td>
            <td>
              <button *ngIf="!asignature.doISelected && asignature.CurrentQuota < asignature.MaxQuota"
                (click)="enrollAsignature(asignature)" class="btn btn-outline-success">Agregar</button>
              <button *ngIf="asignature.doISelected" (click)="unrollAsignature(asignature)"
                class="btn btn-outline-success">Eliminar</button>

              <ngbd-modal-basic *ngIf="asignature.CurrentQuota === asignature.MaxQuota && !asignature.doISelected"
                [Email]="emailUserLoggedIn" [Asignature]="asignature" [IsDisabled]=asignature.doIRequested>
              </ngbd-modal-basic>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="selected-subjects">
      <h4>Asignaturas seleccionadas</h4>

      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">AULA</th>
            <th scope="col">GRUPO</th>
            <th scope="col">CREDITOS</th>
            <th scope="col">HORARIO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asignature of asignatures | async | filterselection">
            <td>{{asignature.name}}</td>
            <td>{{asignature.course}}</td>
            <td>{{asignature.group}}</td>
            <td>{{asignature.credits}}</td>
            <td>
              <div [innerHTML]="renderCalendar(asignature)"></div>
            </td>
          </tr>
        </tbody>
      </table>
      <span><strong>Cantidad de Créditos Seleccionados:</strong> {{asignatures | async | filterselection | sumcredits}}
      </span>
    </section>

  </div>
</div>

<ng-template #showLogin>
  <section class="login__content">
    <div class="login__buttons">
      <img class="login__logo" src="assets/imgs/mortarboard.svg" alt="">
      <br />
      <h4>Módulo Inscripción de Asignaturas UNAPEC</h4>

      <button class="btn btn-danger btn-lg" (click)="login()">
        <img class="login_google" src="./assets/imgs/google.png" alt="">
        Inicia sesión con google
      </button>
    </div>
  </section>
</ng-template>